
#JWT
JWT_SECRET=

# Mongodb env variable
MONGODB_URI=
DB_NAME=

# Redis env variable
REDIS_URI=
REDIS_PASSWORD=

# Signaling server variable
SIGNALING_HOST=
SIGNALING_PORT=

# SFU server variable
SFU_HOST=
SFU_PORT=

# Note: mkcert uninstall to revert this
TLS_CERT=
TLS_KEY=
